<div class="col-md-12">
    <h1>{{test}}</h1>
</div>
<!-- <table class="col-md-12 table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Number</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" name="name" placeholder="name" data-ng-model="input.name"></td>
            <td><input type="text" name="email" placeholder="example@email.com" data-ng-model="input.email"></td>
            <td><input type="text" name="number" placeholder="(123)456-7890" data-ng-model="input.number"></td>
            <td><button class="btn btn-primary" data-ng-click="addContact();">Submit</button></td>
        </tr>
        <tr data-ng-repeat="item in contactList track by $index">
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.number}}</td>
            <td><button class="btn btn-danger" data-ng-click="removeContact(item._id);">Remove</button></td>
        </tr>
    </tbody>
</table> -->
