<div class="row" data-ng-controller="lolCtrl">
    <div class="col-md-12">
        <h1>{{test}}</h1>
    </div>
    <div class="col-md-12">
        <ul class="nav nav-pills">
          <li role="presentation"
              data-ng-repeat="(key, value) in summonerList track by $index"
              data-ng-class="{active : value.actived}"
              data-ng-click="clickName(value);">
                <a>{{value.nickName}}</a>
          </li>
        </ul>
    </div>
    <game-list-directive
        actived-summoner="activedSummoner"
        data-ng-show="gameListShow"
    ></game-list-directive>

</div>
