<div class="row" data-ng-controller="miniGameCtrl">
    <div class="col-md-12">
        <h1>
            Test Mini Game Page {{miniGame}}
        </h1>
    </div>
    <div class="col-md-12">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a ui-sref="miniGame.fighter">fighter</a></li>
                <li role="presentation"><a ui-sref="miniGame.clickDemo">Click Demo</a></li>
                <li role="presentation"><a ui-sref="miniGame.tiling">Tiling Demo</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <div ui-view></div>
        </div>
    </div>
</div>
